h3, .intro{
  font-family: 'Raleway', sans-serif;
}

h3 {
  margin-bottom: 5px;
  font-size: 1.4em;
}

.intro {
  font-size: 1.2em;
}

.code, .code *, .variable, .rule {
  font-family: 'Montserrat', 'Consolas', sans-serif;
}

#new_rule {
  margin-top: 5px;
}

#new_rule select {
  margin: 5px 0px 5px 20px;
  width: 250px;
}

#btn_add {
  font-size: 1.1em;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#existing_rules {
  height: 250px;
  width: 290px;
  border: black 1px solid;
  overflow: scroll;
  margin-top: 10px;
}

.rule {
  font-size: 0.8em;
  border: solid 1px darkslategrey;
  margin: 2px 2px 6px 2px;
  padding: 3px;
}

.variable {
  font-weight: bold;
  border: solid 1px black;
  background-color: whitesmoke;
  border: 1px solid lightgrey;
}

.rule_action {
  padding-left: 10px;
  padding-top: 3px;
}

.delete_rule_btn {
  float: left;
  vertical-align: middle;
  margin: 2px 5px 2px 2px;
  color: red;
  font-size: 1.2em;
  padding: 1px;
}
